<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">

	<listeners>
		<listener class-name="ExtentReportListener.ExtentReporterNG" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="testcases.LoginTest" />
			<class name="testcases.HomepageTest" />
			<class name="testcases.BestSellerPageTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
